<!doctype html>
<html>
	<head lang="ru">
		<title>LabWeb_3</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="vue.js"></script>
		<script src='axios-master/dist/axios.min.js'></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
		
		<style>
			* {
				font-family: 'Roboto', sans-serif;
			}
			main {
				min-height: calc(100vh - 112px);
				background-color: seashell;
			}
			footer {
				height: 49px;
				background-color: gainsboro;
			}
			.footer-icon {
				min-height: 32px !important;
			}
			.footer-icon:hover {
				padding: 3px;
			}
			.a-response {
				display: inline-block; 
				position: relative;
			}
			.a-response:hover::after {
				content: attr(data-title);
				position: absolute;
				left: 20%;
				top: -64px;
				z-index: 1; 
				background: rgba(255,255,230,0.9);
				font-size: 12px; 
				padding: 5px 10px; 
				border: 1px solid #333; 
				border-radius: 5px;
			}
			.slide-fade-enter-active {
				transition: all .8s ease;
			}
			.slide-fade-leave-active {
				transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
			}
			.slide-fade-enter, .slide-fade-leave-to {
				transform: translateX(10px);
				opacity: 0;
			}
			.elem-li div:hover {
				font-weight: bold;
				cursor: default;
				border: 1px solid gray;
				box-shadow: 0 0 20px rgba(0,0,0,1);
				-webkit-box-shadow: 0 0 20px rgba(0,0,0,1);
				-moz-box-shadow: 0 0 20px rgba(0,0,0,1);
				border-radius: 8px;
				padding: 4px;
			}
			.elem-li div:hover::after {
				content: attr(data-title);
				position: absolute;
				left: 0;
				top: -32px;
				z-index: 1; 
				background: rgba(0,0,0,0.1);
				font-size: 10px; 
				font-weight: bold;
				padding: 5px 10px; 
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			.c-both {
				clear: both;
			}
			.row .col-6 {
				padding: 5px;
			}
		</style>
	</head>
	<body>
	
		<div id='myapp'>
			
			<header>
				<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
					<router-link class="navbar-brand" to="/">
					  	<img src="./assets/logo.svg" alt="" class="w-25 img-fluid">
					</router-link>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"  v-if="login">
					  	<span	span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" v-if="login">
						<div class="navbar-nav">
							<router-link class="nav-item nav-link" to="/profile">Профиль</router-link>
							<router-link class="nav-item nav-link" to="/files">Файлы</router-link>
							<router-link class="nav-item nav-link" to="/setting">Настройки</router-link>
						</div>
					</div>
				</nav>
			</header>

			<main>
				<div class="container">
					<div v-if="!login">
						<button @click="instruction = !instruction" class="btn btn-info w-100 rounded-0">
							Посмтреть возможности сайта
						</button>
						<transition name="slide-fade">
							<div v-if="instruction" class="text-info p-2 border-left border-right border-info">
								<p>Функции пользователя: </p>
								<ul>
									<li>загружать файл;</li>
									<li>настраивать доступ к файлу;</li>
									<li>просматривать список доступных файлов;</li>
									<li>удалить файл;</li>
									<li>скрыть/отобразить файл;</li>
									<li>фильтровать файлы;</li>
									<li>скачать файл.</li>
								</ul>
							</div>
						</transition> 
					</div>
					<div class="border border-top-0 border-info p-2 text-center" v-if="!login">
						<h2 class="h2 text-center pb-4">Почему мы?</h2>
						<div class="row elem-li m-4 pb-4">
							<div class="col-6" data-title="Удобнее только у it-гигантов">
								<p>Удобство</p>
								<img src="./assets/conv-ico.svg" alt="" class="w-25">
							</div>
							<div class="col-6" data-title="Данные шифруются">
								<p>Конфиденциальность</p>
								<img src="./assets/confid-ico.svg" alt="" class="w-25">
							</div>
						</div>
						<div class="row elem-li m-4">
							<div class="col-6" data-title="Полный контроль на своими файлами">
								<p>Надёжность</p>
								<img src="./assets/lock-ico.svg" alt="" class="w-25">
							</div>
							<div class="col-6" data-title="Функционал необходимый всем">
								<p>Актуальность</p>
								<img src="./assets/actual-ico.svg" alt="" class="w-25">
							</div>
						</div>
					</div>

					
					<div class="mt-4 text-center" v-if="!login">
						<button class="btn btn-primary" @click="uno_auth()" v-if="!formGroup">Войти</button>
						<transition name="slide-fade">
							<form v-if="formGroup" class="mt-2">
								<div class="form-group">
								  <label for="login">Login</label>
								  <input type="text" class="form-control" id="login" aria-describedby="loginHelp" value="nif-nif" v-model="userLogin" autocomplete="off">
								  <small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
								<div class="form-group">
								  <label for="password">Password</label>
								  <input type="password" class="form-control" id="password" value="wolf" v-model="userPassword" autocomplete="off">
								</div>
								<div class="form-check">
								  <input type="checkbox" class="form-check-input" id="registCheck" v-model="regist">
								  <label class="form-check-label" for="registCheck">Зарегистрироваться</label>
								</div>
								<button type="button" class="btn btn-primary" @click="auth()">Вход</button>
							  </form>
						</transition>
					</div>
					<div class="pt-4 text-center" v-if="login">
						<div class="row-fluid">
							<div class="col"><button class="btn btn-success float-left" @click="uno_addFile()" v-if="!addFile">Добавить файл</button></div>
							<div class="col"><button class="btn btn-outline-primary float-ritght" @click="reverseLogin()" v-if="!addFile">Выйти из профиля</button></div>
						</div>
						<transition name="slide-fade">
							<div v-if="addFile" >
								<div class="c-both m-2">
									<button class="btn btn-outline-primary" @click="uno_addFile()">Назад</button>
								</div>
								<div class="c-both m-2 form-group text-center">
									<label for="textMessage" class="float-left ml-4 font-weight-bold">Сообщение</label>
									<input type="text" id="textMessage" class="form-control" placeholder="Текст к загружаемому файлу" v-model="textMessage">
								</div>
								<div class="custom-file c-both m-2 p-2" v-if="textMessage">
									<input type="file" id="file" ref="file" v-if="textMessage" @change="handleFileUpload()" class="custom-file-input">
									<label for="file" v-if="textMessage" class="custom-file-label">Выберите файл для передачи</label>
								</div>
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="privateCheck" v-model="status">
									<label class="form-check-label" for="privateCheck">Сделать приватным</label>
								</div>
								<div class="c-both m-2">
									<button class="btn btn-success" type="button" @click='uploadFile()' v-if="file">Отправить</button>
								</div>
							</div>
						</transition>
					</div>
				</div>
			</main>
			
			<footer>
				<div class="text-center pt-2">
					<!-- GitHub URL: https://github.com/Fiasko99 -->
					<span class="font-weight-bold">GitHub: </span>
					<a href="https://github.com/Fiasko99" target="_blank" data-title="Личный гитхаб автора" class="a-response"><img src="./assets/githubicon.svg" alt="ico" class="footer-icon"></a>
				</div>
			</footer>
			
		</div>

		<!-- Script -->
		<script>
			var app = new Vue({
				el: '#myapp',
				data() {
					return {
						instruction: false,

						addFile: false,
						status: false,
						textMessage: '',
						file: '',
						
						
						formGroup: false,
						login: false,
						regist: false,
						userLogin: '',
						userPassword:'',
						userData: null,
					}
				},
				methods: {
					test: function () { 
						this.reverseLogin();
					},
					uno_addFile: function() {
						this.addFile = !this.addFile;
					},
					uno_auth: function() {
						this.formGroup = !this.formGroup;
					},
					auth: function() {
						const self = this;
						if(!this.regist) {
							axios.get('http://localhost:3000/person?login=' + this.userLogin +"&password=" + this.userPassword)
							.then(function(response) {
								this.userData = response.data;								
							})
							.then(function() {
								if (this.userData[0]) {
									if (this.userData[0]['role'] === 3) {
										self.login = !self.login;
									} else {
										alert("Access denied")
									}
								} else {
									alert("Not found");
								}
							})
							.catch(function(error) {
								alert(error);
							});
						} else {
							this.createFolder();
						}
					},
					reverseLogin: function() {
						this.login = !this.login;
					},
					handleFileUpload: function() {
						this.file = this.$refs.file.files[0];
					},
					uploadFile: function(){
						
						this.file = this.$refs.file.files[0];
						
						let formData = new FormData();
						formData.append('file', this.file);

						 axios.post('ajaxfile.php', formData,
						{
						    headers: {
						        'Content-Type': 'multipart/form-data'
						    }
						})
						.then(function (response) {
							if(!response.data){
								alert('File not uploaded.');
							}else{
								alert('File not uploaded.');
							}
						})
						.catch(function (error) {
						    alert(error);
						});
					},
					createFolder: function() {
						let self = this;
						if (self.userLogin !== '') {
							axios({
								method: 'post',
								headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
								url: 'createF.php',
								data: self.userLogin
							})
							.then(function(response) {
								if(response.data === 1) {
									let newUser = {
										'login': self.userLogin,
										'password': self.userPassword,
										'role': 3
									}

									axios.post('http://localhost:3000/person', newUser)
									.then(response => (self.login = response.data))
									.then(function() {
										alert("Пользователь создан");
									});
								} else {
									alert("Пользователь уже существует");
								}
							})
							.catch(function (error) {
								alert(error);
							});
						} else {
							alert("Login field is empty")
						}
					}
				}
			})

		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
